.contacts
    .about__title
        .title.title--grey Контакты
    ul.contacts__list
        li.contacts__item
            a(href="").contacts__link
                svg.contacts__icon
                    use(xlink:href="img/sprite.svg#skype")
                .contacts__text olgabaranovaskype
        li.contacts__item
            a(href="").contacts__link
                svg.contacts__icon
                    use(xlink:href="img/sprite.svg#envelope")
                .contacts__text bo_40388@mail.ru
        li.contacts__item
            a(href="tel:879516473087").contacts__link
                svg.contacts__icon
                    use(xlink:href="img/sprite.svg#phone")
                .contacts__text +79516473087
        li.contacts__item
            a(href="").contacts__link
                svg.contacts__icon
                    use(xlink:href="img/sprite.svg#map_marker")
                .contacts__text г.Санкт-Петербург ул.Есенина д.36 корп.1     