include ../common/mixins.pug
footer.footer
    .footer__main
        .footer__where
            .footer__where-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer__info
            nav.nav
            ul.nav__list.nav__list--footer
                li.nav__item.nav__item--footer
                   a(href="works.html").nav__link Мои работы
                li.nav__item.nav__item--footer
                    a(href="about.html").nav__link Обо мне
                li.nav__item.nav__item--footer
                    a(href="blog.html").nav__link Блог 
                li.nav__item.nav__item--footer
                    a(href="index.html").nav__link Авторизация  
            .footer__social
                +social("social__icon social__icon--hoverwhite")
        .footer__credo Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.#[b]— Martin Golding#[b]
                       
    .footer__personality
        ul.person__footer-list
            li.person__footer-item.person__footer-item--white © Баранова Ольга
            li.person__footer-item.person__footer-item--white Создано с любовью в LoftSchool
            li.person__footer-item.person__footer-item--white 2018