doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i", rel="stylesheet")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="assets/styles/main.min.css")
        script(async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDojHnKdAOsl-NipkgAqNo6xz-lHf1mieM&callback=initMap")
        scrpit(src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")
        title Portfolio
    body
       block wrapper

    mixin social(icon_class)
        ul.social__list
            -var items = {'vk.com':'vk', 'github.io':'github','in.com':'in'};                                               
            each item, key in items
                li.social__item
                    a(href=key).social__link
                        svg(class = icon_class)
                            use(xlink:href="img/sprite.svg#"+item)