include ../common/mixins.pug

header.header
    .header__left
        +social("social__icon social__icon--white")
           
    .header__right
        .header__hamburger(id="hamburger")
            a(href="").header_hamburger-link
                .header__hamburger-strip.header__hamburger-strip--top
                .header__hamburger-strip.header__hamburger-strip--center
                .header__hamburger-strip.header__hamburger-strip--bottom

                    