header.header
    .header__left
        .person__social
            ul.social__list
                li.social__item
                    a(href="").social__link
                        svg.social__icon.social__icon--white
                            use(xlink:href="img/sprite.svg#vk")
                li.social__item
                    a(href="").social__link
                        svg.social__icon.social__icon--white
                            use(xlink:href="img/sprite.svg#github")
                li.social__item
                    a(href="").social__link
                        svg.social__icon.social__icon--white
                            use(xlink:href="img/sprite.svg#in")
    .header__right
        .header__hamburger
            a(href="").header_hamburger-link
                .header__hamburger-strip
                .header__hamburger-strip
                .header__hamburger-strip

                    