.person__block.person__block--front
    .person__info
        .person__desc
            img.person__photo(alt="Ольга Баранова" src='img/pages/welcome/photo2.jpg')
            .title_mid Баранова Ольга
            p.person__site Личный сайт веб-разработчика
        .person__social
            +social('social__icon')                                                                           
    nav.nav
        ul.nav__list
            li.nav__item
                a(href="works.html").nav__link Мои работы
            li.nav__item
                a(href="about.html").nav__link Обо мне
            li.nav__item
                a(href="blog.html").nav__link Блог