extends ../common/general.pug
    
block wrapper 
    .wrapper
        section.section
            include ../common/section_header.pug
        section.section.section--about
            .section__left.section__left--about
                .triangle
                    svg.triangle__svg(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1200 115", preserveaspectratio="none")
                        polygon.triangle__left(points="0,0   0,115   600,115   600,105.5")
                .container.container--column.container--about
                    .about__left
                        .about__title
                            svg.about__icon
                                use(xlink:href="img/sprite.svg#about_header")
                            .title Обо мне
                        .about__info
                            img.about__photo(src="img/pages/about/photo1.jpg" alt="Фото1") 
                            .about__desc
                                .about__title
                                    .title.title--light Кто я
                                .about__desc-txt
                                    p  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, doloremque accusantium,
                                        explicabo dignissimos provident ab minus natus voluptas aut at numquam odio consequuntur
                                        quibusdam magni sed veniam exercitationem aliquid voluptatem?Sequi architecto culpa
                                        omnis aut voluptas explicabo quia, accusamus ut temporibus animi neque assumenda
                                        tenetur atque nobis quam quaerat aperiam officia! Quidem, exercitationem eligendi!
                                        Magnam consequatur deleniti deserunt reiciendis hic
                                    p  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, doloremque accusantium,
                                        explicabo dignissimos provident ab minus natus voluptas aut at numquam odio consequuntur
                                        quibusdam magni sed veniam exercitationem aliquid voluptatem?Sequi architecto culpa
                                        omnis aut voluptas explicabo quia, accusamus ut temporibus animi neque assumenda
                                        tenetur atque nobis quam quaerat aperiam officia! Quidem, exercitationem eligendi!
                                        Magnam consequatur deleniti deserunt reiciendis hic
                                    p  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, doloremque accusantium,
                                        explicabo dignissimos provident ab minus natus voluptas aut at numquam odio consequuntur
                                        quibusdam magni sed veniam exercitationem aliquid voluptatem?Sequi architecto culpa
                                        omnis aut voluptas explicabo quia, accusamus ut temporibus animi neque assumenda
                                        tenetur atque nobis quam quaerat aperiam officia! Quidem, exercitationem eligendi!
                                        Magnam consequatur deleniti deserunt reiciendis hic   
            .section__right.section__right--about
                .triangle
                    svg.triangle__svg(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1200 115", preserveaspectratio="none")
                        polygon.triangle__right(points="1200,0   1200,115   600,115   600,105.5")
                .container.container--column.container--about
                    .about__right
                        .about__title
                            .title.title--grey Чем я могу быть #[br] вам полезен
                        .about__right-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit blanditiis recusandae veniam sunt, deserunt qui ad, consequatur
                                            dignissimos ducimus animi nihil eveniet nisi excepturi autem unde amet accusantium vel iusto.Reiciendis
                                            consequuntur eos dolorum. Itaque ipsam voluptas rem ad officiis, consectetur aut sequi sunt sint,
                                            quas in nobis? Labore sed at modi facilis deserunt dolore perferendis blanditiis, illum ullam
                                            minima
                        .skills
                            .skills__block
                                .title_low Frontend
                                ul.skills__list
                                    li.skills__item
                                        .skills__name HTML5
                                        svg.skills__ring
                                            circle.skills__circle(r="45", cx="50%", cy="50%")
                                            circle.skills__circle.skills__circle--colored.circle-85(r="45", cx="50%", cy="50%", transform="rotate(-90 55 55)")
                                    li.skills__item
                                        .skills__name CSS3
                                        svg.skills__ring
                                            circle.skills__circle(r="45", cx="50%", cy="50%")
                                            circle.skills__circle.skills__circle--colored.circle-65(r="45", cx="50%", cy="50%", transform="rotate(-90 55 55)")
                                    li.skills__item
                                        .skills__name JavaScript & jQuery
                                        svg.skills__ring
                                            circle.skills__circle(r="45", cx="50%", cy="50%")
                                            circle.skills__circle.skills__circle--colored.circle-35(r="45", cx="50%", cy="50%", transform="rotate(-90 55 55)")
                            .skills__block
                                .title_low Backend
                                ul.skills__list
                                    li.skills__item
                                        .skills__name PHP
                                        svg.skills__ring
                                            circle.skills__circle(r="45", cx="50%", cy="50%")
                                            circle.skills__circle.skills__circle--colored.circle-15(r="45", cx="50%", cy="50%", transform="rotate(-90 55 55)")
                                    li.skills__item
                                        .skills__name mySQL
                                        svg.skills__ring
                                            circle.skills__circle(r="45", cx="50%", cy="50%")
                                            circle.skills__circle.skills__circle--colored.circle-15(r="45", cx="50%", cy="50%", transform="rotate(-90 55 55)")
                                    li.skills__item
                                        .skills__name Node.js & npm
                                        svg.skills__ring
                                            circle.skills__circle(r="45", cx="50%", cy="50%")
                                            circle.skills__circle.skills__circle--colored.circle-15(r="45", cx="50%", cy="50%", transform="rotate(-90 55 55)")
                                    li.skills__item
                                        .skills__name Mongo.db
                                        svg.skills__ring
                                            circle.skills__circle(r="45", cx="50%", cy="50%")
                                            circle.skills__circle.skills__circle--colored.circle-15(r="45", cx="50%", cy="50%", transform="rotate(-90 55 55)")
                            .skills__block
                                .title_low Workflow
                                ul.skills__list
                                    li.skills__item
                                        .skills__name GIT
                                        svg.skills__ring
                                            circle.skills__circle(r="45", cx="50%", cy="50%")
                                            circle.skills__circle.skills__circle--colored.circle-20(r="45", cx="50%", cy="50%", transform="rotate(-90 55 55)")
                                    li.skills__item
                                        .skills__name Gulp
                                        svg.skills__ring
                                            circle.skills__circle(r="45", cx="50%", cy="50%")
                                            circle.skills__circle.skills__circle--colored.circle-25(r="45", cx="50%", cy="50%", transform="rotate(-90 55 55)")
                                    li.skills__item
                                        .skills__name Webpack
                                        svg.skills__ring
                                            circle.skills__circle(r="45", cx="50%", cy="50%")
                                            circle.skills__circle.skills__circle--colored.circle-15(r="45", cx="50%", cy="50%", transform="rotate(-90 55 55)")
    
        .section.section--map
                .container.container--vh.container--column
                    .map(id="map") 
                    include ../common/contacts.pug                                   
                include ../common/footer.pug
    script(src="assets/scripts/bundle.js")
                                      
                
                     