extends ../common/general.pug

block wrapper
    .wrapper.wrapper--footer
        section.section(style="background-image:url('img/pages/welcome/bkg.jpg')")
            .container
                .person__desc.person__desc--bkg
                    img.person__photo(alt="Ольга Баранова" src='img/pages/welcome/photo2.jpg')
                    .about__title
                        svg.about__icon.about__icon--blog
                            use(xlink:href="img/sprite.svg#blog_header")
                        .title.title--white Блог
                    p.person__site.person__site--white Статьи, которые я написал

        section.section.section--blog
            .triangle
                svg.triangle__svg(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1200 115", preserveaspectratio="none")
                    polygon.triangle__left.triangle__left--work(points="0,0   0,115   600,115   600,105.5")
            .triangle
                svg.triangle__svg(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 1200 115", preserveaspectratio="none")
                    polygon.triangle__right.triangle__right--work(points="1200,0   1200,115   600,115   600,105.5")
            .container.container--blog
                nav.blognav
                    ul.blognav__list
                        li.blognav__item.blognav__item--active
                            a(href="works.html").blognav__link Самое важное в Sass
                        li.blognav__item
                            a(href="about.html").blognav__link Приемы в верстке, без которых не обходится ни один сайт
                        li.blognav__item
                            a(href="blog.html").blognav__link Самый необходимый набор Gulp-плагинов  
                        li.blognav__item
                            a(href="blog.html").blognav__link Почему я выбрал Pug   
                .blogcontent
                    ul.blogcontent__list
                        li.blogcontent__item  
                            article.blogcontent__article
                                .title.title--greywu Самое важное в Sass
                                .blogcontent__date 22.01.2018
                                .blogcontent__text  Таким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнять                                  
                        li.blogcontent__item  
                            article.blogcontent__article
                                .title.title--greywu Приемы в верстке, без которых не обходится ни один сайт
                                .blogcontent__date 10.12.2017
                                .blogcontent__text Таким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнять
                                   
                        li.blogcontent__item  
                            article.blogcontent__article
                                .title.title--greywu Самый необходимый набор Gulp плагинов
                                .blogcontent__date 15.07.2017
                                .blogcontent__text Таким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнятьТаким образом начало повседневной работы по формированию позиции позволяет выполнять
        include ../common/footer.pug           



        
   
   
   
