extends ../common/general.pug
    
block wrapper 
    include ../common/mixins.pug
    .wrapper 
        section.section
            .header__background.header__background--webgl
                canvas.header__canvas
            .container.container--top
                .autorization
                    a(href="").autorization__link Авторизоваться
                .person
                    .person-flipper
                        include ../common/person_block.pug
                        include ../common/autoriz_form.pug
                include ../common/personality.pug
    script(src="assets/scripts/bundle.js")                       
                                                                



