.dropdown{
    position:absolute;
    bottom:-300%;
    left:-1000px;
    background-color: #e44845;
    border-radius:rem(5px);
    transform: translate(-50%,50%);
    z-index:50;
    transition: 0.8s;
    opacity:0;    

    &:before{
        display:inline-block;
        position:absolute;
        content:"";
        top:-50%;
        left:50%;
        border-top:rem(15px) solid transparent;      
        border-right: rem(15px) solid transparent;
        border-left: rem(15px) solid transparent;
        border-bottom: rem(15px) solid #e44845;
    
        transform: translate(-50%,0)
    }

    &__text{
        display: inline-block;
        padding: rem(15px) rem(20px) rem(15px) rem(20px);
        color:#fff;
    }

}