.form{      
    
       &__box{
        width: rem(380px);
        display:flex;
        flex-direction:column;
        align-items:center;
        background-color: $smoky_light;
        border-radius: rem(5px);
        padding-top: rem(40px);
        overflow:hidden;
        margin-bottom: rem(50px);
    
        @include tablets{
            width: rem(340px);
        }
    
        @include phones{
            width: rem(300px);
        }
       }
        
        &__connect{
            width: 100%;
        }
    
        &__text{
           padding-left: 5%;
           padding-right: 5%;
            text-align:left;
            left:50%;
        }
    
        &__title{
            margin-bottom: rem(10px);
        }
    
        &__block{
            position: relative;
    
            &-icon{
                width: rem(50px);
                height: rem(50px);
                display: flex;
                justify-content: center;
                align-items: center;            
                position:absolute;
                background-color:$bkg_light;
                border-radius:  rem(25px) 0 0 rem(25px);
                        
            }
        }
    
        &__icon{
            width: rem(20px);
            height: rem(20px);
            fill:$light_font;
        }
        
    
        &__input, &__textarea{
            width: 100%;
            background-color: #fff;
            opacity:0.85;
            border-radius: rem(25px);
            border: transparent;
            outline: 0;
            outline-offset:0;
            resize:none;
            padding: rem(15px);
            margin-bottom: rem(20px);
            overflow: hidden;
            

            &:focus {
                border: 3px solid $mid_font;
            }
    
        }
    
        &__input{
            height: rem(50px);
    
            &--bkgwhite{
                opacity:1;
                padding: rem(15px) rem(15px) rem(15px) rem(65px);
            }
        }
    
        &__textarea{
            height: rem(140px);
        }
    
        &__buttons{
            width: 100%;
            display: flex;
            
        }
    
        &__button{
            flex:1;
            padding-top:rem(12px);
            padding-bottom: rem(12px);
            background-color: $main;
            font-size: rem(16px);
            font-weight:700;
            color:$white;
            transition:0.5s;
            border: none;
            outline:0;
            cursor:pointer;

            &--admin{
                flex:none;
                display:inline-block;
                padding:rem(12px) rem(15px) rem(12px) rem(15px);
                border-radius:rem(5px);
            }
            
            
            &:hover{
                background-color: $main_middle;
                transition:0.5s;
            }
    
            &--rightborder{
                border-right: rem(3px) solid $light_font;
            }
        }
    
       &__row{
           width: 100%;
           text-align: center;
           color:$light_font;
           margin-bottom: rem(15px);
       }
    
       &__checkbox{
           &-input{
            position: absolute;
            visibility: hidden;
    
            &:checked + .form__checkbox-custom{
                background-color:$main;
            }
    
            &:checked + .form__checkbox-custom svg {
                opacity:1;
                transition:0.5s;    
              }
           }
           
           &-custom{
            display: inline-block;
            content:"";
            position: relative;  
            vertical-align: middle;
            width: rem(20px);
            height: rem(20px);
            border-radius: rem(2px);
            background-color:$white;
            margin-right: rem(10px);
           }
    
           &-icon{
            width: rem(15px);
            height: rem(15px);
            fill:$white;
            opacity:0;
            transition:0.5s;
           }
       }
    
    
      &__radio{
        display:inline-block;
        position:relative;
        margin-right: rem(40px);
    
        &:last-child{
            margin-right: 0;
        }
    
        &-btn{
            position: absolute;
            visibility: hidden;
    
            &:not(checked) + .form__radio-custom:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: rem(0px);
                height: rem(0px);
                border-radius: 50%;
                background-color: $main;
                transition: 0.3s;
              }
            
              &:checked + .form__radio-custom:after {
                width: rem(8px);
                height: rem(8px);
              }
        }
    
        &-custom{
            content:"";
            display: inline-block;
            width: rem(20px);
            height: rem(20px);
            position: relative;
            vertical-align: middle;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color:white;
            margin-right: rem(10px);
        }
    
      }
    }

.formmodal{   
        
    padding: rem(20px);
    background-color: #fff;
    border-radius:rem(3px);
     
    &__msg{
         color:$mid_font;
         margin-bottom:rem(20px);     
    }

    &__btn{
        padding: rem(15px) rem(20px) rem(15px) rem(20px);
        color:#fff;
        background-color: $main;
        transition: 0.8s;
        border-radius: rem(5px);
        cursor:pointer;

        &:hover{
            background-color: $main_dark;
        }
    }

    &__bkg{
        width: 100vw;
        height: 100vh;
        position:fixed;
        display:flex;
        justify-content:center;
        align-items:center;
        top:0;
        left:0;
        background-color: $main;
        opacity:0.85;
    }
}