.header{
  width: 100%;
  position: absolute;
  padding: 3%;
  top:0;
  display: flex;
  align-items: center;
  

  &__left{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    
  }

  &__right{
    width: 30%;
    display: flex;
    justify-content: flex-end;   
  }

  &__background{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    &--webgl{
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), transparent 50%, rgba(0, 0, 0, 0.5));
      }
    }

    &-img{
      width: auto;
      height: 120%;
      background-size:cover;
    }
  }

  &__canvas{
    width: 100%;
    height: 100%;
  }

  &__overlay{ 
    display: flex;
    justify-content: space-between;
    align-items: center;  
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    

    &-left{      
      position:relative;
      width: 0;
      float:left;   
      height: 100%;
      background-color: $main;
      opacity:0.85;
      z-Index:20;
      transition: 0.5s
    }

    &-right{      
      position:relative;
      width: 0;
      float:right;     
      height: 100%;
      background-color: $main;
      opacity:0.85;
      z-Index:20;
      transition: 0.5s
    }
  }
}




