.nav{
    
    display: block;
    font-size:0;

    &__list{
        &--footer{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 10px;
        }
    }
    
      
    &__item{  
        display:inline-block;
        padding: 10px 30px 10px 30px;
        background-color: $main;
        transition: 0.5s;
        border-right: 3px solid $light_font;

        &:last-child{
            border: none;
        }


        &:hover{
            background-color: $main_middle;
            transition: 0.5s;
        }

        &--footer{
            background-color: transparent;
            border-right: none;
            padding: 0;

            &:hover{
                background-color: transparent;                
                color:$grey;
            }

        }
    }
    
    &__link{
        text-decoration:none;
        color: $white;
        font-size:16px;
    }
}