.nav{    
    display: block;
    font-size:0;

    &--overlay{
        display:none;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);        
        z-index:30;

        &>.nav__list{
            flex-direction: column;
        }
    }

    &__list{

        display: flex;

        &--footer{            
            justify-content:start;
            flex-wrap:wrap;
            width: 100%;
            margin-bottom: rem(10px);
        }       

        @include phones{
            justify-content:center;
        }
    }
    
      
    &__item{ 
        flex:auto;
        padding: rem(10px) 0 rem(10px) 0;
        background-color: $main;
        transition: 0.5s;
        border-right: rem(3px) solid $light_font;
        text-align: center;
        

        &:last-child{
            border: none;
            margin-right: 0;
        }

        &--footer{
            margin-right: 15px;
            text-align: left;
            white-space: nowrap;
        }

        @include phones{
            padding: rem(10px) 0 rem(10px) 0;            
        }


        &:hover{
            background-color: $main_middle;
            transition: 0.5s;
        }

        &--footer{
            background-color: transparent;
            border-right: none;
            padding: 0;

            &:hover{
                background-color: transparent;                
                color:$grey;
            }

        }

        &--overlay{
            display:block;
            background-color: transparent;
            border-right: none;
            padding: 0;
            opacity:0;

            &:hover{
                background-color: transparent;              
                
            }

            .nav__link>.title--white:after{
                opacity:0;
                transition:0.3s;
            }

            .nav__link:hover>.title--white:after{
                    opacity:1;
                    transition:0.3s;
            }
            
        }
    }
    
    &__link{
        display:inline-block;
        width: 100%;
        height: 100%;
        text-decoration:none;
        color: $white;
        font-size:rem(16px);
    }
}