.about__left {
    width: 50%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.about__right{
    width: 50%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.about__left{
    background-color: $grey;
}