.autorization{
    width: 100%;
    top:3%;
    position:absolute;
    text-align:right;
   
    &__link{
        display: inline-block;
        //height: 45px;
        padding: 10px 20px 10px 20px;
        border-radius:22.5px;
        border: 1px solid white;
        text-decoration: none;
        color: white; 
        font-weight:500;     


        &:hover{
            border: 1px solid $main;
            background-color: $white;
        }
    }
}

.person{
    width: 100%;
    height: 100%;    
    display: flex;
    justify-content: center;
    align-items:center;
    color:$white;
    font-weight:500; 


    &__block{
        // width: 380px;
        display: flex column;
        justify-content: center;
        align-items:center;
        background-color: $smoky;
        border-radius:5px;
        padding:15px 20px 0px 20px;
    }

    &__photo{
        width: 170px;
        height: 170px;
        border-radius: 50%;
        
    }

    &__site{
        font-weight:400;
    }

    &__social{

        &-item{
            display:inline-block;
        }

        &-icon{
            width: 30px;
            height: 30px;

            &:hover{
            fill:$grey;
            }
        }
    }

    &__footer{
        width: 100%;
        height: 80px;
        
        display: flex;
        justify-content: center;
        align-items:center;

        position:absolute;
        bottom:0%;
        

        &-item{
            display:inline-block;          
            color:$white;
        }
    }
}

.nav{

    display: block;

    &__list{

    }

    &__item{
        display:inline-block;
    }

    &__link{
        text-decoration:none;
        color: $white;
    }
}