.preloader{
    &_bg{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main;
    opacity:0.85;
    z-index:100;
    }
    
    &_svg{
        position: relative;
        width: 80px;
        height: 100px;

        
        &-path{
    
            stroke-dasharray: 50% 80%;
            animation: waves 1s linear infinite;
        
            &--center{
                animation-delay:0.3s;
            }
        
            &--bottom{
                animation-delay:0.6s;
            }
        
        }
    }
}

.autorization{   
    top:rem(20px);
    right:rem(20px);   
    position:absolute;
    z-index:20;

    @include phones{
        right:50%;
        transform: translate(50%,0);
    }
}

.person{
    width: 100%;
    height: calc(100% - 60px); 
    display: flex;
    justify-content: center;
    align-items:center;   
    color:$white;
    font-weight:500;
    perspective: 1000;

    // &:hover{
    //     .person-flipper{
    //         transform:rotateY(180deg);
    //     }
    // }
    
    @include phones{
        height:100%;
    }

    &-flipper{
        width: rem(380px);
        height:rem(430px);
        transform-style:preserve-3d;
        transition:0.8s;

        @include tablets{
            width:rem(350px);
        }

        @include phones{
            width:rem(300px);
        }

    }


    &__block{
        width: rem(380px);        
        position: absolute;
        top:0;
        left:0;
        background-color: $smoky;
        border-radius:rem(5px);
        padding:rem(40px) rem(0px) rem(0px) rem(0px);
        overflow:hidden;        

        &--front{
            z-index:2;
            backface-visibility: hidden;
        }

        &--back{
            transform: rotateY(180deg);
            backface-visibility: hidden;            
        }

        @include tablets{
            width:rem(350px);
        }

        @include phones{
            width:rem(300px);
        }

    }

    &__desc{
        &--bkg{
            height: calc(100% - 85px);
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: flex-start;

            @include phones{
                height: 100%;
            }
        }


    }

    &__info{
        max-width:rem(350px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    &__photo{
        width:rem(170px);
        height:rem(170px);
        border-radius: 50%;
        margin-bottom: rem(20px);  
        
        @include phones{
            width:rem(140px);
            height:rem(140px);
        }
    }

    &__site{
        font-weight:400;
        color:$light_font;
        margin-top:0;
        margin-bottom:0;

        &--white{
            color:$white;
        }
    } 
    
    &__social{
        height: rem(100px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__footer{
        width: 100%;
        height: rem(60px);        
        display: flex;
        justify-content: center;
        align-items:flex-start;
        position:absolute;
        bottom:0;
        right:0;       
       
      

        &-item{
            display:inline-block;          
            margin-left: rem(1px);            
            color:$light_font;

            &:after{
                display: inline-block;
                content: "";
                height: rem(12px);
                width: rem(2px);
                vertical-align: baseline;
                background-color:$light_font;                    
                margin-left: rem(5px);
            }
    
            &:last-child{
                &:after{
                    display: none;
                }
            }

            @include phones{
                &:first-child{
                    display: block;
                    &:after{
                        display: none;
                    }
                }
            }
           
            &--white{           
               
                color:$white;
              
                &:after{
                    display: inline-block;
                    content: "";
                    height: rem(12px);
                    width: rem(2px);
                    vertical-align: baseline;
                    background-color:$white; 
                    margin-left: rem(5px);
                }

                &:last-child{

                    &:after{
                        display: none;
                    }
                }
            }         
               
        }
    }
}


@keyframes waves {
    0% {
        stroke-dashoffset: 130%;
    }

    25%{
        //stroke-dasharray: 0% 0%;
    }
   
    100% {
        stroke-dashoffset:0%;
        //stroke-dasharray:25% 25%;
    }
}



