html, body{
    height: auto;
    width: 100%;
    margin: 0;
    
}

body{
    font-family: 'Roboto', 'Arial';
    font-size: 16px;
    font-weight:400;
    line-height: 1.42;
    color: $mid_font;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

*{
    box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6{
    margin-top:0;
    margin-bottom:0;
}

.wrapper {
    height:100%;
    min-width: 100%;
    min-height:500px;
    position:relative;
    overflow:hidden;

    &--footer{
        &:after{
            display:block;
            content:"";
            height:$footer_height;   
        }
    }
    
}

.container{
    width:100%;
    max-width:1100px;
    height:100%;
    position: relative;
    display:flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    //padding:3%; 

    &--column{
        flex-direction: column;        
    }

    &--top{
        align-items: flex-start;
    }

    &--about{
        width:100%;
        max-width: 600px;
        height:auto;
        justify-content:flex-start;
    }

    &--blog{
        padding-top: 50px;
        padding-bottom: 50px;
        align-items: flex-start;
    }
    
}



.section{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    text-align:center;

    &--about{
        height:auto;
        min-height: 100vh;
    }

    &--map{
        height:calc(100vh + $footer_height);
        align-items: center;
    }

    &--work{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height:auto;
        min-height: 100vh;
    }

    &--blog{
        background-color: $bkg_light;
        height:auto;
    }

    &--review{
        min-height:100vh;
        height:auto;
        padding-top:40px;
        padding-bottom:40px;

        &__bkgphoto3{
            position: absolute;
            top:45%;
            right:2%;
        }

        &__bkgphoto2{
            position: absolute;
            top:5%;
            left:3%;
        }

        &__bkgphoto1{
            position: absolute;
            top:55%;
            left:5%;
        }
    }

    &__left{
        width: 50%;
        min-height: 100%;       
        display: flex;   
        justify-content: flex-end;
        padding:0 8% 3% 8%;
        background-color: $bkg_lightmain; 

        &--work{
            padding:3% 8% 3% 8%;
            
        }

    }

    &__right{
        width: 50%;
        min-height: 100%;
        display: flex;
        padding:0 3% 3% 3%;

        &--about{
            background-color: $bkg_light; 
        }

        &--work{
            background-color: $bkg_lightgrey;
            justify-content: center;
            padding:3% 3% 3% 3%;            
        }
    }

    &__content--work{
        width: 100%;
        min-height: calc(100vh - 60px);
        display: flex;
        flex-direction: row;
    }


}