@font-face {
    font-family: 'fontawesomeregular';
    src: url('../fonts/fontawesome/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome/fontawesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansus_webissimoregular';
    src: url('../fonts/sanus/sansus-webissimo-regular-webfont.woff2') format('woff2'),
         url('../fonts/sanus/sansus-webissimo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}