$white: #fff;
$main: #648d5a;
$main_hover: #538643;
$smoky: rgba(18, 38,32, 0.6);
$grey:rgba(184,190,188,0.5);
$light_font: #aab1a9;
$mid_font:#566358;
$dark_font:#373e42;
$footer_font:#a1a7a5;

$bkg_lightgrey:#e2e4d7;
$bkg_lightmain:#ebefe1;
